---
# Configures UFW (Uncomplicated Firewall) with secure defaults

- name: Install UFW
  ansible.builtin.package:
    name: ufw
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Set UFW default incoming policy to deny
  community.general.ufw:
    default: deny
    direction: incoming
  when: ansible_facts['os_family'] == "Debian"

- name: Set UFW default outgoing policy to allow
  community.general.ufw:
    default: allow
    direction: outgoing
  when: ansible_facts['os_family'] == "Debian"

- name: Allow SSH through UFW
  community.general.ufw:
    rule: allow
    port: '22'
    proto: tcp
  when: ansible_facts['os_family'] == "Debian"

- name: Allow HTTP through UFW
  community.general.ufw:
    rule: allow
    port: '80'
    proto: tcp
  when: ansible_facts['os_family'] == "Debian"

- name: Allow HTTPS through UFW
  community.general.ufw:
    rule: allow
    port: '443'
    proto: tcp
  when: ansible_facts['os_family'] == "Debian"

- name: Enable UFW logging
  community.general.ufw:
    logging: 'on'
  when: ansible_facts['os_family'] == "Debian"

- name: Enable UFW
  community.general.ufw:
    state: enabled
  when: ansible_facts['os_family'] == "Debian"
