# Adds a new SSH key for a designated root user.
---
- name: Create admin user
  ansible.builtin.user:
    name: "{{ adminUser }}"
    state: present
    create_home: yes

- name: Add admin to sudoers
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    regexp: '^{{ adminUser }}'
    line: '{{ adminUser }} ALL=(ALL) NOPASSWD: ALL'
    state: present
    validate: 'visudo -cf %s'

- name: Create .ssh directory
  ansible.builtin.file:
    path: "/home/{{ adminUser }}/.ssh"
    state: directory

- name: Add SSH key for admin user
  ansible.builtin.copy:
    src: ssh_pubkey.pub
    dest: "/home/{{ adminUser }}/.ssh/authorized_keys"
    owner: "{{ adminUser }}" 
    group: "{{ adminUser }}"
    mode: '0600'

- name: Change to bash shell
  ansible.builtin.user:
    name: "{{ adminUser }}"
    shell: /bin/bash
